*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#1e1e1e;
    color:white;
    font-family:Arial;
}

.Titulos{
    text-align:center;
    margin-top:40px;
    margin-bottom:30px;
}

.formu{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto;
    gap:10px;
}

input,select,button{
    padding:10px;
    border-radius:10px;
    border:none;
}

button{
    cursor:pointer;
}